
*{
     margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    padding: 0;
}
#site-logo{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-logo a img{
    width: 150px;
    height: 70px;
}
#icon-searchbar{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
#text{
    outline: none;
    padding: 10px;
    width: 35em;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchicon-header{
    padding: 8px;
    border: 1px solid gray;
    background-color: blue;
    padding-right: 25px;
    padding-left: 25px;
    outline: none;
    cursor: pointer;
}
.searchicon-header i img{
    width: 30px;
    background-color: mediumblue;
    cursor: pointer;
}
body img{
    max-width: 100%;
    height: auto;
}
#sign-in{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#login a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    font-family: Arial ;
    font-weight: bolder;
}
#login{
    transition: .3s;

}
#login:hover{
    transform: scale(1.2);
}
#registration a{
    background-color: gold;
    width: 140px;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size:  larger ;
    font-weight: bolder;
    font-family: Arial ;

}

#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: mediumblue;
    height: 70px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
}
#dropdown{
    width: 100%;
    height: 10%;
    max-height: 10%;
}
.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 70px;
    width: 100%;
}
#contact a{
    
    color: white;
    font-size: smaller;
}
#contact{
    margin-left: 4px;
}
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;


}
#auction-board{
    background-image: url(../image/flag-1192625__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 40vh;
    text-align: center;
    margin-top: 100px;

}
#auction-board h1{
    padding-top: 5vh;
}
#browser {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 35px;
}
#about h2{
    text-align: center;
}
#number a {
    font-size: smaller;
    font-weight: bold;
}
#gallery{
    background-color: whitesmoke;
}
#car-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
/* #first{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    */
    
/*}*/
/* #second{ */
    /* display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}*/
#about{
    background-color: whitesmoke;
    text-align: justify;
    padding-bottom: 50px;
    font-size: medium;
    padding-top: 40px;
    
    
}
#about h3{
    padding-top: 50px;
    padding-bottom: 50px ;
}
#inventory {
    margin-bottom: 5vh;
}
#company-history{
    
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}
#membership{
    background-image: url(../image/old.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}
#membership h2{
    color: white;
    text-align: center;
    padding-top: 50px;
    
}
#flagandcountry{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#nigerian-office{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
#uk-office{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 0;
}
#outreach a{
    color: black;
}
#registrations a{
    background-color: gold;
    color: black;
    width: 40vh;
    height: 7vh;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:  larger ;
    font-weight: bolder;
    font-family: Arial ;
    margin-top: 60px;
    margin-left: 45%;
    margin-right: 20%;
    transition: .2s;



}
#inventory{
    margin-top: 5%;
    font-size: large;
}
#inventory a{
    color: white;
}
#registrations{
    transition: .3s;
}
#registratiions :hover{
    transform: scale(1.2);  
}

.red{
    margin-bottom: 17px;
}

#details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 37vh;
    background-image: url(../image/3723727.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#inner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 37vh;
}
#footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    width: 100%;
    
}
#vehicle-finder h6{
    color: gold;
}
#vehicle-finder a{
    color: white;
    font-size: smaller;
}
#servicing h6{
    color: gold;
}
#servicing a{
    color: white;
    font-size: smaller;
}
#auctioning h6{
    color: gold;
}
#auctioning a{
    color: white;
    font-size: smaller;
}
#supporting h6{
    color: gold;
}
#supporting a{
    color: white;
    font-size: smaller;
}
#company-info h6{
    color: gold;
}
#company-info a{
    color: white;
    font-size: smaller;
    font-family: Arial;
}
#copyright{
    background-color:black;
    color: gainsboro;
    font-size: small;
    text-align: center;
    padding-bottom: 20px;
}
#copyright a{
    color: gainsboro;
    font-size: small;
}
.jkl a{
    color: white;
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none;}
    }
    img { max-width: 100%; }

    html { font-size:100%; } 
    @media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

#inner{
width: 90%;
margin-left: 5%;
margin-right: 5%;
}